body{
    font-family: Montserrat-Regular, sans-serif !important;
    background-color: #efefef !important;
    display: flex;
}
.menu{
    width: 285px !important;
    height: 1000px; 
    display: flex;
    background-color: #FFFFFF;
}
.container{
    /* width: 100%-277px !important;
    padding: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important; */
}
ul{
    list-style: none;
    padding: 0 !important;
}
a{
    text-decoration: none !important;
}.sidebar{
    width: 57px;
}
.sidebar > ul >li{
    padding: 10px 5px 5px 10px;
    background-color: #FFFFFF;
}
.logo-web{
    padding-left: 3px !important; 
}
.main-menu{
    margin-left: 30px;
    padding-top: 1rem;
    background-color: #FFFFFF;
    width: 205px !important;
}
.container-fluid{
    padding: 0 !important; 
}
.nav-link{
    padding: 0 !important;
    font-family: Roboto, sans-serif;
    color: #172948 !important;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
}
.nav-item{
    padding: 0.8rem 0.2rem;
    border-bottom: 1px solid #efefef;
}
.fb,.insta{
    font-size: 1rem;
    color: #172948;
    padding: 0.6rem 0.2rem;
    font-weight: 400;
    line-height: 1.5;
}
.subcribe{
    font-size: 1.03rem;
    font-family: Montserrat-Bold,sans-serif;
    padding: 0.6rem 0.2rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
.carousel-item{
    height: 450px;
}

/* thuong hieu vnsupplement */
.container{
    width: 1155px !important;
    padding-top: 10px;
    margin-left: 15px !important;
    padding-right: 30px !important;
}
.trademark-widget{
    background-color: #FFFFFF;
    margin-left: 5px;
    width: 276px !important;
}
.brand-section{
    padding: 40px 30px;
    padding-left: 45px !important;
}
.brand-name{
    font-size: 1.5rem;
    font-family: Roboto LightItalic, sans-serif;
    font-style: italic;
    padding-bottom: 30px;
    font-weight: 500;
    margin-bottom: 0px;
}
.brand-name-description{
    padding-right: 30px;
    padding-bottom: 20px;
}
.brand-logo{
    padding: 62px 60px 80px 75px;  
}
.brand-info{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 13pt !important;
    text-align: center;
}
.title{
    display: flex;
    justify-content: center;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}
.title>h5{
    padding-left: 20px;
    font-size: 28px;
    width: 310px;
    text-align: center;
}

/* San phan Supplement */
.img-size{
width: 278px;
height: 420px;
}
.slick-arrow{
    z-index: 200;
}
.slick-next{
    z-index: 200;
}
.info-produce{
    background-color: #FFFFFF;
    width: 278px;
    display: inline-block;
}
.info-produce h3{
    font-size: 20px !important;
    padding-bottom: 1rem !important;
    font-family: Roboto BlackItalic, sans-serif !important;
    font-weight: bold !important;
    color: #172948;
    padding: 50px 20px ;
    text-align: center;
}
.info-produce span{
    font-family: Montserrat-Bold, sans-serif;
    font-size: 14px;
    font-style: italic!important;
    font-weight: bold;
    padding-left: 69px;
}
.info-produce p{
    font-family: Montserrat-Light, sans-serif;
    font-size: 14px;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 0.33rem;
    color: #172948;
    text-align: center;
    padding-left: 18px;
    padding-right: 18px;
}
.info-produce>a>img{
    margin-left: 51px;
}
.info-produce-price{
    font-size: 22px !important;
    color: black;
    padding-top: .7rem !important;
    padding-bottom: 1rem !important;
    min-height: 68px !important;
    font-style: normal !important;
}
.slider-img{
    width: 278px;
    display: inline-block;
}

.slide-left{
    background-color: #FFFFFF;
    width: 278px;
    margin-left: -4px;
    padding-top: 33px;
    background: url('https://vnsupplements.vn/wp-content/themes/vnsupplements/dist/images/bg-sp_home.png');
    position: relative;
    z-index: 100;
}
.slide-left-img{
    padding-left: 59px;
    padding-right: 59px;
}
.slide-left-title,.slide-right-title{
    font-family: Roboto;
    font-style: italic;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.slide-left-title > h3{
    padding-top: 15px;
    padding-bottom: 20px;
}
.slide-left-price, .slide-right-price{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.slide-left-button>img{
    margin-left: 59px;
    margin-right: 49px;
    margin-bottom: 35px;
}

.slide-right-button>img{
    margin-left: 59px;
    margin-right: 49px;
    margin-bottom: 35px;
}
.slide-right-title > h3{
    padding-top: 15px;
    padding-bottom: 20px;
}
.slide-right{
    background-color: #FFFFFF;
    width: 278px;
    margin-left: -20px !important;
    padding-top: 33px;
    background: url('https://vnsupplements.vn/wp-content/themes/vnsupplements/dist/images/bg-sp_home.png');
    position: relative;
    z-index: 100;
}
.slide-right-img{
    padding-left: 59px;
    padding-right: 59px;
}
.slider{
    margin-left: -8px;
}

/* banner mid */
.banner-mid{
    padding-top: 20px;
    padding-right: 10px;
    margin-left: -3px;
}
img{
    max-width: 100%;
}

/* chuyen gia cung vnsupplement  */
.slider-idol>img{
    
}