.a{
    color: red;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    line-height: 1.5;
    text-transform:capitalize;
}
ul,
ol{
    list-style-type: square;
}
a{
    text-decoration:none ;
}