#heading{
    color: #1e73be;
}

a{
    color: grey;
    text-decoration: none;
}
img{
    background-color: silver;
}
#more{
    color: #2591ff!important;
}
p b{
    color: yellow;
}
a[href="#Full"]{
    color: pink;
}

