body{
    font-family: sans-serif !important;
}
a{
    text-decoration: none !important;
}
.site-title{
    font-size: 28px;
    line-height: 52px;
    color: #666;
    font-weight: 300;
}
.nav-link{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: -1px;
    color: #4c4c4c !important;
}
.nav-link:hover{
    color: #5d47d7 !important;
}
h3{
    font-size: 30px !important;
    line-height: 33px !important;
    font-weight: 400 !important;
    color: #0e1015 !important;
}
.title{
    margin-bottom: 24px;
}
.content{
    font-size: 14px;
}
.post{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px !important;
}
.post-title{
    font-size: 30px !important;
    line-height: 33px !important;
    font-weight: 400 !important;
    color: #0e1015 !important;
    padding-bottom: 30px;
}
.post-content{
    font-size: 14px;
}
.bg{
    background: #f5f5f5;
}
.btn{
    line-height: 24px;
    min-width: 200px;
    padding: 13px 26px !important;
    background-color: #745cf9 !important;
    border-bottom: 1px solid black !important;
    font-weight: 600 !important;
    font-family: inherit !important;
    border: 2px solid #745cf9 !important; 
    border-radius: 0 !important;
    color: #fff !important;
    font-size: 12px !important;
    text-transform: uppercase;
    margin-top: 20px;
}
.btn:hover{
    background-color: #5858FA !important;
}
.img-cover{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}
.tour-list{
    padding: 100px 0;
    background-color: #0e1015;
}
.tour-list-title{
    margin-bottom: 32px;
    color: #fff !important;
}
.tour-list-content{
    margin-bottom: 40px;
    color: #fff;
}
img{
    max-width: 100%;
}
.rel:hover{
    opacity: 0.8;
    transition: 0.5s;
}
.rel:hover .tour-list-name{
    display: block;
}
.tour-list-name{
    position: absolute;
    top:45%;
    z-index: 2;
    width: 100%;
    color: #fff;
    font-size: 2rem;
    display: none;
}
.rel{
    position: relative;
}
.customer-info>img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.customer-title{
    padding-bottom: 30px;
}
.customer-content{
    padding-bottom: 20px;
}
.customer-name{
    padding-top: 20px;
}
.customer{
    padding-top: 60px;
    padding-bottom: 50px;
}
.bg-next-black{
    background-color: black;
    border-radius: 50%;
}
.bg-prev-black{
    background-color: black;
    border-radius: 50%;
}
.footer{
    background-color: #0b1601;
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgba(255,255,255,.65);
    font-size: 14px;
}
.footer-brand{
    color: #fff;
    font-size: 35px;
}
.fab{
    color: rgba(255,255,255,.65);
    /* color: rgba(255,255,255,.65); */
    font-size: 30px;
    padding-right: 10px;
}
.bg-floor-fade-light{
    background: linear-gradient(180deg,transparent,rgba(0,0,0,.5));
    position: absolute; 
    top:0; 
    left: 0; 
    z-index: 100;
    width: 100%;
    height: 100%;
}
.seasonality-text{
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 30px;
    color: #fff;
    font-size: 1.75rem;
}
/* Trang Northern Viet Nam */
.banner{
    position: relative;
}
.img-banner{
    width: 100%;
    
}
.title-banner{
    position: absolute;
    z-index: 10;
    left: 10%;
    top: 40%;
    color: #fff;
    font-size: 50px;
    font-family: 'Great Vibes', cursive;
}

/* Trang Ha Noi */
.line-bottom{
    border: 1px solid #745cf9;
}
.seeitinerary{
    background-color: transparent;
    border: 1px solid #745cf9;
    border-radius: 100px;
    color: #000;
    padding: .5625rem 1.625rem;
    font-size: .6875rem;
    letter-spacing: .125em;
    letter-spacing: .25em;
    line-height: .75rem;
    padding: .875rem 1.875rem;
    text-transform: uppercase;
}
.seeitinerary:hover{
    background-color: #745cf9 !important;
    color: #fff;
}
.tour-title{
    color: black;
}
.tour-title :hover{
    color: #745cf9 !important;
}
.duration-title{
    color: #745cf9;
}
.price-title{
    color: #745cf9;
}


/* TOUR DETAIL AND BOOKING */
.btn-book{
    line-height: 24px;
    min-width: 100px;
    padding: 13px 26px !important;
    background-color: #745cf9 !important;
    border-bottom: 1px solid black !important;
    font-weight: 600 !important;
    font-family: inherit !important;
    border: 2px solid #745cf9 !important; 
    border-radius: 0 !important;
    color: #fff !important;
    font-size: 12px !important;
    text-transform: uppercase;
}
.group-tour{
    margin-bottom: 25px;
}
.private-tour{
    margin-bottom: 25px;
}
.sidebar-main{
    border: 1px solid #000;
    padding-left: 20px;
    padding-right: 20px;
}
.sidebar-title{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #745cf9;
    border-bottom: 1px solid #745cf9;
}

/* Transport */
.transport-index-title>h2{
    padding-top: 20px;
}
.transportation{
    margin: 0 !important;
    padding: 0 !important;
    
}
.transport-section{
    background-color: #FFFFFF;
    height: 420px;
    margin-right: 8px;
    margin-bottom: 30px;
}
.transport-img{
    height: 152px;
}
.transport-img>img{
    width: 100%;
    height: 100%;
}
.transport-title>h4{
    font-size:18px;
    color: #172948;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.transport-content{
    padding-left: 10px;
    padding-right: 10px;
    min-height: 6.5rem;
    text-align: justify;
    font-size: 1rem;
    color: #172948;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff !important;
    background-color: #172948 !important;
    border-color: #172948 !important;
}
.page-link{
    color: #172948 !important;
}
.disabled>.page-link{
    color: #dee2e6 !important;
}

/* RESPONSIVE */
@media (min-width: 576px) {
    .title-banner{
        left: 15%;
        top: 40%;
        font-size: 60px;
    }
}
/* @media (max-width: 768px) {
    .title-banner{
        left: 15%;
        top: 40%;
        font-size: 60px;
    }
} */
@media (max-width : 768px)  {
    .footer{
        text-align: center;
    }
}
@media (min-width: 768px) {
    .title-banner{
        left: 15%;
        top: 40%;
        font-size: 80px;
    }
}
@media (min-width: 992px) {
    .title-banner{
        left: 25%;
        top: 40%;
        font-size: 80px;
    }
    .transport-section{
        height: 420px;
        margin-right: 8px;
        margin-bottom: 30px;
    }
    .transport-title>h4{
        font-size: 20px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
}
@media (min-width: 1200px) {
    .title-banner{
        left: 25%;
        top: 40%;
        font-size: 100px;
    }
    .transport-section{
        height: 380px;
        margin-right: 8px;
        margin-bottom: 30px;
    }
    .submit-contact{
        padding-right: 130px;
    }
}
@media (min-width: 1400px) {
    .title-banner{
        left: 25%;
        top: 40%;
        font-size: 100px;
    }
    
}
@media (min-width: 1500px) {
    .title-banner{
        left: 30%;
        top: 40%;
        font-size: 120px;
    }
    
}
@media (min-width: 1700px) {
    .title-banner{
        left: 30%;
        top: 40%;
        font-size: 150px;
    }
    
}