body{
    font-family: sans-serif !important;
}
a{
    text-decoration: none !important;
}
.site-title{
    font-size: 28px;
    line-height: 52px;
    color: #666;
    font-weight: 300;
}
.nav-link{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: -1px;
    color: #4c4c4c !important;
}
.nav-link:hover{
    color: #5d47d7 !important;
}
h3{
    font-size: 30px !important;
    line-height: 33px !important;
    font-weight: 400 !important;
    color: #0e1015 !important;
}
.title{
    margin-bottom: 24px;
}
.content{
    font-size: 14px;
}
.post{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px !important;
}
.post-title{
    font-size: 30px !important;
    line-height: 33px !important;
    font-weight: 400 !important;
    color: #0e1015 !important;
    padding-bottom: 30px;
}
.post-content{
    font-size: 14px;
}
.bg{
    background: #f5f5f5;
}
.btn{
    line-height: 24px;
    min-width: 200px;
    padding: 13px 26px !important;
    background-color: #745cf9 !important;
    border-bottom: 1px solid black !important;
    font-weight: 600 !important;
    font-family: inherit !important;
    border: 2px solid #745cf9 !important; 
    border-radius: 0 !important;
    color: #fff !important;
    font-size: 12px !important;
    text-transform: uppercase;
    margin-top: 20px;
}
.btn:hover{
    background-color: #5858FA !important;
}
.img-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tour-list{
    padding: 100px 0;
    background-color: #0e1015;
}
.tour-list-title{
    margin-bottom: 32px;
    color: #fff !important;
}
.tour-list-content{
    margin-bottom: 40px;
    color: #fff;
}
img{
    max-width: 100%;
}
.col-3,.col-4{
    padding: 0 !important;
}
.rel:hover{
    opacity: 0.8;
    transition: 0.5s;
}
.rel:hover .tour-list-name{
    display: block;
}
.tour-list-name{
    position: absolute;
    top:45%;
    z-index: 2;
    width: 100%;
    color: #fff;
    font-size: 2rem;
    display: none;
}
.rel{
    position: relative;
}
.customer-info>img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.customer-title{
    padding-bottom: 30px;
}
.customer-content{
    padding-bottom: 20px;
}
.customer-name{
    padding-top: 20px;
}
.customer{
    padding-top: 60px;
    padding-bottom: 50px;
}
.bg-next-black{
    background-color: black;
    border-radius: 50%;
}
.bg-prev-black{
    background-color: black;
    border-radius: 50%;
}
.footer{
    background-color: #0b1601;
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgba(255,255,255,.65);
    font-size: 14px;
}
.footer-brand{
    color: #fff;
    font-size: 35px;
}
.fab{
    color: rgba(255,255,255,.65);
    /* color: rgba(255,255,255,.65); */
    font-size: 30px;
    padding-right: 10px;
}
.bg-floor-fade-light{
    background: linear-gradient(180deg,transparent,rgba(0,0,0,.5));
    position: absolute; 
    top:0; 
    left: 0; 
    z-index: 100;
    width: 100%;
    height: 100%;
}
.seasonality-text{
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 30px;
    color: #fff;
    font-size: 1.75rem;
}
/* Trang Northern Viet Nam */
.img-banner{
    width: 100%;
}

/* Trang Ha Noi */
.line-bottom{
    border: 1px solid #745cf9;
}
.seeitinerary{
    background-color: transparent;
    border: 1px solid #745cf9;
    border-radius: 100px;
    color: #000;
    padding: .5625rem 1.625rem;
    font-size: .6875rem;
    letter-spacing: .125em;
    letter-spacing: .25em;
    line-height: .75rem;
    padding: .875rem 1.875rem;
    text-transform: uppercase;
}
.seeitinerary:hover{
    background-color: #745cf9 !important;
    color: #fff;
}
.tour-title{
    color: black;
}
.tour-title :hover{
    color: #745cf9 !important;
}
.tour-section-info{
    padding-left: 30px !important; 
}
/* .duration > p{
    margin-bottom: 0 ;
} */
.duration-title{
    color: #745cf9;
}
.price-title{
    color: #745cf9;
}